* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a.active {
  background-color: #f2f2f2;
  color: #c00000;
}

.sidenav a.logout {
    position: bottom;
    color: #b30000;
    background-color: #f2f2f2;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: #c00000;
}

.sidenav a:hover:not(a.logout) {
  border-top-style: solid;
  background-color: #f2f2f2;
  bottom: 10px;
  color: #c00000;
}

/* Style the content */
.content {
  margin-left: 250px;
  padding-left: 20px;
}

.data {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

div.logoutArea {
    
}

p > user {
    color: #c00000;
}

.logoutArea > a{
  border-top: 1px solid #777777;
  position: absolute;
  bottom: 0px;
  width:250px;
}

ul .level1 {
  color: #c00000;
}

.ui-datepicker.ui-widget-content {
   width: 65%;
   height: 100%;
}

.admin {
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    margin-left: 15px;
}
