/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.06.2019, 18:17:00
    Author     : Lukas
*/
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 1px;
  text-align: center;
}

body {
  background-image: url("resources/backgrounds/phjg.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 1px solid #555;
}

.secret {
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.secret:focus {
  border: 1px solid #555;
}

input[type=submit] {
  width: 100%;
  background-color: #c00000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #b30000;
}

.formInCenter{
  display: block;
  padding: 7%;
}

