<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <title>Firmungsmanager</title>
    </h:head>
    <body>
        <h:form>
        <div class="sidenav">
            <p align="middle" style="color: #c00000"> #{logInBean.loggedPerson.firstname} <br></br> #{logInBean.loggedPerson.lastname} </p>
            <!--<center>
            <h:outputText id="oUser" style="color: #b3000" value="#{logInBean.loggedPerson.firstname} #{logInBean.loggedPerson.lastname}"/>
            </center>-->
            
            <hr>
                <h:commandLink action="Home.xhtml">
                    <h:graphicImage class="resources/icons/icons8-home-page-96.png">
                        Startseite
                    </h:graphicImage>
                </h:commandLink>
                <h:commandLink value="Chatroom" action="Chatroom.xhtml">
                    
                </h:commandLink>
                <h:commandLink value="Module" action="Module.xhtml"/>
                <h:commandLink value="Unterlagen" action="Unterlagen.xhtml"/>
                <div class="logoutArea">
                    <h:commandLink value="Abmelden" action="LogIn.xhtml"/>
                </div>
            </hr>
        </div>
        </h:form>    
            
        <div class="content">
            <ui:insert name="content">Content</ui:insert>
        </div>
    </body>
</html>