<ui:composition template="./WEB-INF/templates/mainLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    <ui:define name="content">
        <h:form>
            <h1>Chatroom</h1>
        </h:form>
    </ui:define>
</ui:composition>
