<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h:form>
            <h:panelGrid columns="2" border="0">
                
                
                <h:outputLabel id="oTitle" value="Title: " for="iTitle"/>
                <h:inputText id="iTitle" value="#{modulBean.title}"/>
                               
                <h:outputLabel id="oDescription" value="Beschreibung " for="iDescription"/>
                <h:inputText id="iDescription" value="#{modulBean.description}" />
                
                <h:commandButton value="Erstellen" action="#{modulBean.create}"/>
            </h:panelGrid>
        </h:form>
        
    </body>
</html>
