
<ui:composition template="./WEB-INF/templates/mainLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form>
            <h1>Startseite</h1>
            
            <p:calendar id="calendar" value="#{calendarBean.date}" mode="inline"/>
            
            <div class="data">
                <h2>Ereignisse</h2>
                <ul class="level1">
                    <li>Suppenküche</li>
                    <ul class="level2">
                        <li>Wie verteilen Mahlzeiten an bedürftige aus.
                            <br></br>Ort: Graz</li>
                    </ul>
                </ul>
            </div>
        </h:form>
    </ui:define>
    
</ui:composition>
