<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/registrationLayout.css"/>
        <title>Register User</title>
        <!--<style>
            body {
                background: url("resources/backgrounds/Firmung_Woerterwolke.png") no-repeat center fixed;
            }
        </style>-->
    </h:head>
    <h:body>
        <div class="header">
            <h1><img src="resources/icons/logo_pghj.png" alt=" Pfarren-Logo " />Pfarre Graz Herz-Jesu - Firmungsmanager</h1>
        </div>
        
        <div  class="formInCenter">
            <center>
                <h:form>
            <center>
                <h2><h:outputText id="oHeading" value="Register User"/></h2>
            </center>
            <center>
            <h:panelGrid columns="2" border="0">


                <h:outputLabel id="oEMail" value="E-Mail: " for="iEMail"/>
                <h:inputText id="iEMail" value="#{logInBean.email}"/>

                <h:outputLabel id="oPassword" value="Password: " for="iPassword"/>
                <h:inputSecret id="iPassword" value="#{logInBean.password}" styleClass="secret" />
                <br></br>
                
                    <h:commandButton value="Anmelden" action="#{logInBean.logIn}"/>
               
            </h:panelGrid>
            </center>
        </h:form>
            </center>
        </div>
    </h:body>
</html>
