<ui:composition template="./WEB-INF/templates/mainLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:define name="content">
        
        <h:form id="form">
            <h1>Module</h1>
            
            <p:selectOneMenu id="selectModul" value="#{modulBean.current}" converter="ModulConverter">
                <f:selectItems value="#{modulBean.module}" var="modul" 
                               itemValue="#{modul}" itemLabel="#{modul.title}" />
                <p:ajax event="valueChange" update="eventList"/>
            </p:selectOneMenu>

            
            <p:growl id="msgs" showDetail="true" />

            <p:accordionPanel id="eventList" var="events" value="#{modulBean.current.events}" activeIndex="null">
                <p:tab title="#{events.title}">
                    <h:panelGrid id="content" columns="2" cellpadding="5">
                        <h:outputText value="Info:"/>
                        <h:outputText value="#{events.description}"/>
                        <h:outputText value="Offene Plätze:"/>
                        <h:outputText value="#{events.participants.size()}/#{events.maxParticipants}"/>
                        <h:outputText value="Begin:"/>
                        <h:outputText value="#{events.begin.toString()}"/>
                        <h:outputText value="Ende:"/>
                        <h:outputText value="#{events.end.toString()}"/>
                        <h:outputText value="Ort:"/>
                        <h:outputText value="#{events.place.toString()}"/>
                        <h:outputText value="  "/>
                        <p:commandButton action="#{modulBean.register(events,logInBean.loggedPerson)}" value="Anmelden" update="content" style="float:right"/>
                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>
        </h:form>
        
    </ui:define>
</ui:composition>