<ui:composition template="./WEB-INF/templates/adminLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:pe="http://primefaces.org/ui/extensions">
    <ui:define name="content">
        
        <h:form id="form">
            <h1>Module Admin</h1>
            
            <p:panelGrid style="width: 100%; border: hidden;" >
                <p:row>
                    <p:column style="text-align: left; border: hidden;">
                        <p:selectOneMenu id="selectModul" value="#{modulBean.current}" converter="ModulConverter">
                            <f:selectItems value="#{modulBean.module}" var="modul" 
                                           itemValue="#{modul}" itemLabel="#{modul.title}" />
                            <p:ajax event="valueChange" update="eventList"/>
                        </p:selectOneMenu>
                    </p:column>
                    <p:column style="text-align: right; border: hidden;">
                        <p:commandButton value="Neu" type="button" onclick="PF('new').show();" />
                        <p:commandButton value="Löschen" action="#{modulBean.delete()}" update="form">
                            <p:confirm header="Modul löschen" message="Wollen sie #{modulBean.current.title} wirklich löschen?"/>
                        </p:commandButton>
                    </p:column>
                </p:row>
            </p:panelGrid>
                    
            <p:growl id="msgs" showDetail="true" />

            <p:accordionPanel id="eventList" var="events" value="#{modulBean.current.events}" activeIndex="null">
                <p:tab title="#{events.title}">
                    <h:panelGrid id="content" columns="2" cellpadding="5">
                        <h:outputText value="Info:"/>
                        <h:outputText value="#{events.description}"/>
                        <h:outputText value="Offene Plätze:"/>
                        <h:outputText value="#{events.participants.size()}/#{events.maxParticipants}"/>
                        <h:outputText value="Begin:"/>
                        <h:outputText value="#{events.begin.toString()}"/>
                        <h:outputText value="Ende:"/>
                        <h:outputText value="#{events.end.toString()}"/>
                        <h:outputText value="Ort:"/>
                        <h:outputText value="#{events.place.toString()}"/>
                        <h:outputText value="  "/>
                        <h:panelGrid columns="2" cellpadding="5">                          
                            <p:commandButton action="#{modulBean.edit(events)}" value="Bearbeiten" update="eventList" style="float:right"/>
                            <p:commandButton action="#{modulBean.deleteEvent(events)}" value="Löschen" update="eventList">
                                <p:confirm header="Event löschen" message="Wollen sie #{events.title} wirklich löschen?"/>
                            </p:commandButton>
                            
                        </h:panelGrid>
                    </h:panelGrid>
                </p:tab>
            </p:accordionPanel>
            
            <br/>
            <p:commandButton value="Neues Event" type="button" onclick="PF('newEvent').show();" update="eventList" />
            
            
            <p:dialog header="Neues Modul erstellen" widgetVar="new" modal="false" height="200">
                <p:panelGrid style="border: hidden;">
                    <p:row>
                        <p:column>
                            <h:outputLabel id="oTitle" value="Title: " for="iTitle"/>
                        </p:column>
                        <p:column>
                            <h:inputText id="iTitle" value="#{modulBean.title}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <h:outputLabel id="oMaxPoints" value="Punkte: " for="iMaxPoints"/>
                        </p:column>
                        <p:column>
                            <h:inputText id="iMaxPoints" value="#{modulBean.maxPoints}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column/>
                        <p:column style="text-align: right">
                            <h:commandButton value="Erstellen" action="#{modulBean.create}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog> 
            <p:dialog header="Neues Event erstellen" widgetVar="newEvent" modal="false" height="200">
                <p:panelGrid style="border: hidden;">
                    <p:row>
                        <p:column>
                            <h:outputLabel id="oEvTitle" value="Title: " for="iEvTitle"/>
                        </p:column>
                        <p:column>
                            <h:inputText id="iEvTitle" value="#{modulBean.eventName}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <h:outputLabel id="oDesc" value="Beschreibung: " for="iDesc"/>
                        </p:column>
                        <p:column>
                            <h:inputText id="iDesc" value="#{modulBean.eventDesc}" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column>
                            <h:outputLabel id="oMaxPart" value="Max. Teilnehmer: " for="iMaxPart"/>
                        </p:column>
                        <p:column>
                            <h:inputText id="iMaxPart" value="#{modulBean.maxParticipants}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column/>
                        <p:column style="text-align: right">
                            <h:commandButton value="Erstellen" action="#{modulBean.createEvent}"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                <p:commandButton value="Ja" type="button" styleClass="ui-confirmdialog-yes"/>
                <p:commandButton value="Nein" type="button" styleClass="ui-confirmdialog-no" />
            </p:confirmDialog>  
        </h:form>
    </ui:define>
</ui:composition>