<ui:composition template="./WEB-INF/templates/mainLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form enctype="multipart/form-data">
            <h1>Unterlagen</h1>

            <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="pi pi-arrow-down">
                <p:fileDownload value="#{fileDownloadView.file}"/>
            </p:commandButton>    
        </h:form>
    </ui:define>
</ui:composition>