<ui:composition template="./WEB-INF/templates/adminLayout.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <ui:define name="content">
        <h:form>
            <h1>UnterlagenAdmin</h1>
            <h:form id="upFile" enctype="multipart/form-data">
                <p:growl id="messages" showDetail="true" />

                <p:fileUpload value="#{fileUploadView.file}" mode="simple"  /> <!--fileUploadListener="#{fileUploadManagedBean.fileUploadListener}"-->
                <br /> <br />
                <p:commandButton value="Upload" ajax="false" action="#{fileUploadView.upload}" disabled="false"/>
            </h:form>
        </h:form>
    </ui:define>
</ui:composition>
